<app-navbar></app-navbar>
<mat-card class="numeroTarefas">
	Número de Clientes: {{ (task$ | async).length }}
</mat-card>

<mat-card>
	<div fxLayout="row">

		<form [formGroup]="formTask" class="importanciaForm">
<span class="ui-float-label">
  <input class="formInput" id="float-input" type="text" [textMask]="{mask: phoneMask}"   size="30" pInputText formControlName="importancia">
    <label for="float-input">Telefone</label>
  </span>
		</form>

		<div class="addButton">
			<button pButton type="button" label="ADD" class="ui-button-rounded" (click)="addToTaskList()"></button>
		</div>
	</div>
</mat-card>


<mat-list role="list">
	<mat-list-item *ngFor="let task of task$ | async ">
		<mat-card>
			Telefone: {{ task.importancia}}
		</mat-card>
		<button mat-icon-button (click)="removeFromTaskList(task)">
			<mat-icon> delete</mat-icon>
		</button>
	</mat-list-item>
</mat-list>






