.taskInput{
  margin: 10px;


}

.addButton {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;
}

.formInput {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;
}

.voltarhome {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;


}

.importanciaForm {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;
}
.datainicialForm {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;
}

.datafinalForm {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  text-align: justify;
}


.numeroTarefas {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 75%;
  font-size: 15px;
  text-align: justify;
}

.tarefaForm {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 15px;
  text-align: justify;
}



